body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%,rgba(31, 31, 31, 0.04) 8%, rgba(31, 31, 31, 0.04) 100%),linear-gradient(9deg, rgba(228, 228, 228, 0.04) 0%, rgba(228, 228, 228, 0.04) 62%,rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%),linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%,rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%),linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%,rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%),linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%,rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%),linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%,rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%),linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%,rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%),linear-gradient(313deg, rgba(36, 36, 36, 0.04) 0%, rgba(36, 36, 36, 0.04) 20%,rgba(8,46,95, 0.04) 20%, rgba(8,46,95, 0.04) 100%),linear-gradient(90deg, rgb(15,20,74),rgb(20,125,134));  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{ 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-title{
  color: white;
  text-transform: uppercase;
}

.form-link{
  color: rgb(18, 52, 151);
  text-decoration: none;
  margin: 0 0.5rem;
  transition: all 0.2s;
}

.form-link:hover{
  color: white;
}

.form-text{
  display: flex;
  align-items: center;
  color: white;
}

.form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center; 

  width: 380px;
  height: 450px;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  background: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  border-radius: 15px;

}

div.input-group {
  position: relative;
  width: 100%;
}

/*rgb(10, 68, 151)*/
.input-underlined > input {
border: none;
border-bottom: 0.125rem solid white;
  background-color: transparent;
width: 100%;
height: 2rem;
font-size: 1.0625rem;
line-height: 147.6%;
padding-top: 0.825rem;
color:white !important;
}

.input-underlined > input:focus {
outline: none;
}

.input-underlined > .input-label{
position: absolute;
top: 0.9375rem;
left: 0.5rem;
line-height: 147.6%;
color: white;
transition: top .2s;
}

.input-underlined > input:hover{
background:rgba(28, 52, 82, 0.2);
}

.input-underlined > input:focus + .input-label,
.input-underlined > input:valid + .input-label{
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}

.btn{
  background-color: rgb(18,55,100);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  border-radius: 15px;
  font-size: 1rem;
  color:white;
  border: none;
  height: 2.875rem;
  width: 8.875rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover{
  background-color: rgb(13, 45, 83);
}

/*autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px rgb(28,52,82) inset !important;
 -webkit-text-fill-color: white;
}