.btn-fixed {
    background-color: rgb(27, 93, 173);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    border-radius: 15px;
    font-size: 1rem;
    color: white;
    border: none;
    height: 2.875rem;
    width: 8.875rem;
    cursor: pointer;
    transition: all 0.2s;
  
    position: fixed;
    top: 0px;
    right: 0px;
  }
  
  .btn-fixed:hover {
    color: white;
    background-color: rgb(22, 79, 148);
  }
  
  /*autofill styling */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(28, 52, 82) inset !important;
    -webkit-text-fill-color: white;
  }
  
  .row-card {
    padding: 1.5rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    text-align: center;
    position: relative;
  }
  
  .chart-height {
    max-height: 350px !important;
  }
  
  .card-column {
    padding: 1.5rem;
    margin: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    text-align: center;
    position: relative;
    min-height: 350px;
  }
  
  .card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: #ffffff;
    font-weight: bold;
  }
  
  .small-text {
    font-size: 1rem;
    font-weight: normal;
  }
  
  .chart-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .table-card {
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    text-align: center;
    position: relative;
    max-height: 350px;
    overflow-y: scroll;
  }
  
  table {
    table-layout: auto;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 0.5rem;
  }
  
  tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(95, 178, 190, 0.7);
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.12);
  }
  